# Secrets / environment variables
.env
.env.*

# Python virtual environments
.venv/
venv/
env/

# Python cache files
__pycache__/
*.py[cod]

# VS Code settings
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db